abbr[title="required"]
  color: crimson
  text-decoration: none
  margin-left: 1px

fieldset.fragments
  label
    float: none

label.label
	word-break: break-all

form
  fieldset
    > ol
      > li.radio
        fieldset
          ol
            li
              label
                font-weight: 500

                input
                  margin-right: 5px
    ol
      > li.radio
        label
          float: none

  textarea
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Arial, sans-serif
    font-size: 13px
    line-height: 1.5em
    max-width: 700px

::-webkit-input-placeholder
  color: hsl(0, 0%, 70%)

input[disabled],
input[readonly]
  background-color: hsl(0, 0%, 94%)

li.input.number.numeric
  input
    max-width: 100px
