ruby:
  flavor = "success" if flash[:notice]
  flavor = "info"    if flash[:info]
  flavor = "warning" if flash[:warning]
  flavor = "danger"  if flash[:error]
  flavor = "danger"  if flash[:alert]

  message = flash.map { |key, message| message }.first

  def can_show_flash?(message)
    return if message.blank?
    return if current_page?(new_user_session_path)
    true
  end

- if can_show_flash?(message)
  #status-messages
    div class="alert alert-#{flavor} alert-dismissible" role="alert"
      button class="close" type="button" data-dismiss="alert" aria-label="Закрыть"
        span aria-hidden="true" ×
      = message
