<!--[if lte IE 9]>
  <style>.browserupgrade { margin: 0.2em 0; background: #ccc; color: #000; padding: 0.2em 0; }</style>
  <p class="browserupgrade">Вы используете <strong>старый и небезопасный</strong> браузер Internet Explorer. У него полно брешей безопасности, а часть современных сайтов на нём будет работать некорректно.</p>
  <p class="browserupgrade">Установите себе <a href="https://www.mozilla.org/ru/firefox/new/" target="_blank">Firefox</a> или <a href="https://www.google.ru/chrome/" target="_blank"></a> — это быстро и бесплатно.</p>
<![endif]-->
