link rel="preconnect" href="https://fonts.googleapis.com/css"

link rel="preload" as="font"  crossorigin="anonymous" href=font_path("fontawesome-webfont.woff2") type="font/woff2"

link rel="preload" as="font"  crossorigin="anonymous" href=font_path("Sangha/sangha.woff2") type="font/woff2"
link rel="preload" as="font"  crossorigin="anonymous" href=font_path("Sangha/sangha.woff")  type="font/woff"
link rel="preload" as="font"  crossorigin="anonymous" href=font_path("Sangha/sangha.ttf")   type="font/ttf"
link rel="preload" as="font"  crossorigin="anonymous" href=font_path("Sangha/sangha.sfnt")  type="font/sfnt"
link rel="preload" as="font"  crossorigin="anonymous" href=font_path("Sangha/sangha.otf")   type="font/otf"
link rel="preload" as="font"  crossorigin="anonymous" href=font_path("Sangha/sangha.eot")   type="application/vnd.ms-fontobject"
link rel="preload" as="image" crossorigin="anonymous" href=font_path("Sangha/sangha.svg")   type="image/svg+xml"

/ MIME types https://www.iana.org/assignments/media-types/media-types.xhtml#table-font
